body{
	min-width: 1180px;
   font-family:"Myriad Set Pro","微软雅黑";
   margin:0;
   font-size: 16px;
   position: relative;
}
ul,li,h1,h2,h3,h4,h5,h6,p,a,input{
  margin:0;
  padding:0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
}
.header{
  min-width: 1180px;
  width: 100%;
  height:70px;
  position:fixed;
  left:0;
  top:0;
  z-index: 10;
  background: rgba(0,0,0,0.7);
}
.hd-ct{
	width: 88%;
	height: 70px;
	margin: 0 auto; 
}
.lg-text{
	float: left;
	height:70px;
	color: #fff;
	line-height: 70px;
	text-align: center;
	font-size: 20px;
	margin-left: 1.5%;
	background: rgb(235,77,126);
    padding:0 8px 0 8px; 
    margin-top: 5px;
    border-radius: 4px;
}
.nav{
	float: right;
	width: 80%;
	height: 70px;	
	position: relative;
}
.nav ul{
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	position: relative;
}
.nav ul label{
	width: 95px;
	height: 60px;
	text-align: center;
	line-height: 75px;
	float: right;
	font-size: 16px;
	padding-bottom: 10px; 
	cursor: pointer;
	display: inline-block;
}
.nav ul .nv-7{
   width: 65px;
}
.nav ul li{
	width: 1px;
	height: 10px;
	position: absolute;
	right:235px;
	top:26px; 
}
.nav ul label:nth-child(1){
	width: 140px;
	font-size: 12px;
}
.nav ul label span{
	
	width: 100%;
	height: 70px;
	color: #fff;
}
.nav #nv-x span{
	height: 10px;
	border-left: 1px solid #fff;
	font-size: 10px;
}
.nav input:checked+label{
	border-top: 3px solid #eb4d7e;
	line-height: 70px;
}
.nav input:checked  label a{
	border-top: 3px solid #eb4d7e;
	line-height: 70px;
}
.banner{
	width: 100%;
	position: relative;	
}
.banner img{
	width: 100%;
	height: 100%;
	display: block;
}
.banner .logo{
    width: 110px;
    height: 110px;
    background-image: url('../img/logo.png');
    background-size: cover;
    position: absolute;
    left: 48%;
    top:40%;
}
.banner .yinying{
	width: 90%;
	height: 90px;
	position: absolute;
	left: 5%;
	bottom:5.8%;
}
.banner .yinying .yinying1{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('../img/tou.png');
	background-size: cover;
}
.banner .yinying span:nth-child(2),.banner .yinying span:nth-child(3){
	width: 100%;
	height: 100%;
    text-align: center;
    color:#fff;
    display: block;
    position: absolute;
    left: 0;
    top:0;
}
.banner .yinying span:nth-child(2){
	line-height: 60px;
}
.banner .yinying span:nth-child(3){
	line-height: 120px;
}
.xg{
	width: 100%;
	height: 1680px;
}
.xg-box{
	width: 73%;
    height: 100%;
	margin: 0 auto;

}
.xg-box .xg-title{
	width: 100%;
	height: 125px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#eb4d7e;
}
.xg-box .xg-title p:nth-child(1){
	padding-top: 20px;
    line-height: 60px;
}
.xg-box .xg-title p:nth-child(2){
    line-height: 40px;
    font-size: 28px;
}
.xg-because{
	width: 100%;
	height: 80px;
	font-size: 26px;
	position: relative;
}
.xg-because p{
	width: 34%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 80px;
	color:#818181;
}
.xg-because span:nth-child(1){
	width: 33%;
	height: 1px;
	border-bottom: 1px solid #818181;
	position: absolute;
	left: 0;
	top:50%;
}
.xg-because span:nth-child(3){
	width: 33%;
	height: 1px;
	border-bottom: 1px solid #818181;
	position: absolute;
	right: 0;
	top:50%;
}
.xg-describe{
	width: 100%;
	height: 788px;
}
.xg-describe ul{
  width: 100%;
  height: 100%;
}
.xg-describe ul li{
  width: 32%;
  height: 380px;
  float: left;
  margin-left: 1%;
  border: 1px solid #e6e6e6;
  color: #818181;
  margin-top: 10px;
  letter-spacing:2px;
}
.xg-describe ul li img{
  width: 92%;
  margin-left: 4%;
  margin-top:10px ;
}
.xg-describe ul li h2:nth-child(2){
  width: 100%;
  text-align:center;
  margin-top: 22px;
}
.xg-describe ul li p:nth-child(3){
  width:85%;
  margin-left: 7.5%;
  margin-top: 20px;
  text-align: center; 
}
.xg-describe ul li p span{
  font-weight: 600;
  font-style: oblique;
  font-size: 28px;
}
.xg-from{
  width:100%;
  height: 95px;
  color: #818181;
}
.xg-from p{
  width:51.7%;
  height: 38px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  text-align: center;
  line-height: 38px;
  margin-left: 24.15%;
  margin-top: 60px;
}
.xg-brand{
  width:100%;
  height: 520px; 
}
.xg-brand ul{
  width: 100%;
  height: 100%;
}
.xg-brand ul li img{
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
}
.xg-brand ul li{
  width:15%;
  height: 115px;
  float: left; 
}
.xg-brand ul li:nth-child(1){
  margin-left: 2.5%;
}
.xg-brand ul li:nth-child(2),.xg-brand ul li:nth-child(3),.xg-brand ul li:nth-child(4),.xg-brand ul li:nth-child(5){
  margin-left: 5%;
}
.xg-brand ul li:nth-child(6),.xg-brand ul li:nth-child(11){
  margin-left:2.5%;
  margin-top: 70px;
}
.xg-brand ul li:nth-child(7),.xg-brand ul li:nth-child(8),.xg-brand ul li:nth-child(9),.xg-brand ul li:nth-child(10){
  margin-left: 5%;
  margin-top: 70px;
}
.xg-brand ul li:nth-child(12),.xg-brand ul li:nth-child(13),.xg-brand ul li:nth-child(14),.xg-brand ul li:nth-child(15){
  margin-left: 5%;
  margin-top: 70px;
}
.ck{
	background: #f7f7f7;
}
.ck-box{
	width: 73%;
	margin: 0 auto;
	height: 130px;
	margin-bottom: 30px;
}
.ck-box .ck-title{
	width: 100%;
	height: 125px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#eb4d7e;
}
.ck-box .ck-title p:nth-child(1){
	padding-top: 20px;
    line-height: 60px;
}
.ck-box .ck-title p:nth-child(2){
    line-height: 40px;
    font-size: 28px;
}
.ck-banner{
	width: 100%;
	position: relative;
}
.ck-banner img{
	width: 100%;
	height:100%;
}
.ck-banner ul{
    width: 48.6%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
}
.ck-banner ul li{
	width: 100%;
	text-align: center;
	margin-top: 8.7%;
} 
.ck-banner ul li:nth-child(1){
	width: 100%;
	text-align: center;
	margin-top: 15.7%;
} 
.ck-banner ul li span{
	font-size: 36px;
	color: #252525;
}
.ck-banner ul li p{
	font-size: 26px;
	color: #4d4d4d;
}
.ck-boxs{
	width: 73%;
	height: 310px;
	margin: 0 auto;
}
.ck-boxs .ck-boxs1{
	width: 100%;
	height: 310px;
	margin-top: 24px;
} 
.ck-boxs .ck-boxs1 li{
	width: 32%;
	height: 310px;
	float: left;
}
.ck-boxs .ck-boxs1 li:nth-child(2),.ck-boxs .ck-boxs1 li:nth-child(3){
	margin-left: 1.5%;
}
.ck-boxs .ck-boxs1 li img{
	width: 100%;
	height: 250px;
}
.ck-boxs .ck-boxs1 li p{
	width: 100%;
	text-align: center;
	margin-top: 31px;
	color: #818181;
}
.lk{
	width: 100%;
	height: 940px;
	background: #f7f7f7;
	position: relative;
}
.lk-box{
	width: 73%;
	margin: 0 auto;
	height: 130px;
}
.lk-box .lk-title{
	width: 100%;
	height: 125px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#eb4d7e;
}
.lk-box .lk-title p:nth-child(1){
	padding-top: 20px;
    line-height: 60px;
    text-align: center;
}
.lk-box .lk-title p:nth-child(2){
    line-height: 40px;
    font-size: 28px;
    text-align: center;
}
.lk-lunbo{
	width: 73%;
	height: 450px;
	margin: 0 auto;
}

.lk-content{
	width: 73%;
    height: 170px;
    position: absolute;
    bottom:0px;
    left: 13.5%;
}
.lk-content ul{
	width: 100%;
	height: 100%;
	color: #818181;
}
.lk-content ul li:nth-child(1){
	width: 100%;
	margin-top: 55px;
	text-align: center;
	font-size: 24px;
}
.lk-content ul li:nth-child(2){
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
}
.ft-top{
    width: 100%;
    height: 270px;
    position: relative;
}
.ft-top-box1{
    width:100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.ft-top-box1 img{
    width:100%;
    height: 100px;
}
.ft-top-box{
    width: 73%;
    height: 270px;
    position: absolute;
    left: 13.5%;
    top:0;   
    z-index: 100;
}
.ft-top-box ul{
    width: 15.6%;
    float: left;
    margin-top: 53px;
    font-size: 12px;
    color: #666;
}
.ft-top-box ul:nth-child(1){
    height: 165px;
}
.ft-top-box ul:nth-child(2){
    height: 165px;    
    margin-left: 13.1%;
}
.ft-top-box ul:nth-child(3){
    height: 165px;
    margin-left: 10.1%;
}
.ft-top-box ul:nth-child(4){
    height: 165px;
    margin-left: 13.1%;
    text-align: center;
}
.ft-top-box ul li:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    color: #595959;
}
.ft-top-box ul li:nth-child(2){
    padding-top: 15px;
    line-height: 19px;
}
.ft-top-box ul:nth-child(1) li:nth-child(3){
    padding-top: 40px;
}
.ft-top-box ul:nth-child(1) li:nth-child(4){
    padding-top: 20px;
}
.ft-top-box ul:nth-child(2) li:nth-child(3){
    padding-top: 4px;
}
.ft-top-box ul:nth-child(2) li:nth-child(4){
    padding-top: 4px;
}
.ft-top-box ul:nth-child(2) li:nth-child(5){
    padding-top: 14px;
}
.ft-top-box ul:nth-child(2) li:nth-child(6){
    padding-top: 20px;
}
.ft-top-box ul:nth-child(3) li:nth-child(3){
    padding-top: 14px;
}
.ft-top-box ul:nth-child(4){
    width: 10%;
}
.ft-top-box ul:nth-child(4) li:nth-child(2){
    width: 100%;
    height: 90px;
}
.ft-top-box ul:nth-child(4) li:nth-child(2) img{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
.ft-top-box ul:nth-child(4) li:nth-child(3){
   margin-top: 13px;
}
.ft-middle{
	width: 100%;
	height: 50px;
	background-image:url('../img/about our/bj3.png');
	background-size: cover;
}
.ft-middle-box{
	width: 73%;
	height: 100%;
	margin: 0 auto;
}
.ft-middle-box ul{
	width: 73%;
	height: 100%;
}
.ft-middle-box ul li{
	height: 100%;
	line-height: 50px;
	margin-right: 2%;
	float: left;
	color: #fff;
	font-size: 12px;
}
.ft-bottom{
	width: 100%;
	height: 145px;
	background-image:url('../img/about our/bj1.png');
	background-size: cover;
}
.ft-bottom-box{
	width:73%;
	height:100%;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
}
.ft-bottom-box p:nth-child(1){
    padding-top: 10px;
} 
.ft-bottom-box p:nth-child(2){
	padding-top: 10px;
}
.ft-bottom-box ul{
	margin-top: 20px;
}
.ft-bottom-box ul li{
    width: 90px;
    height: 35px;
    float: left;
    margin-left: 10px;
}
.ft-bottom-box ul li:nth-child(1){
    margin-left: 0;
}
.ft-bottom-box ul li img{
	width: 100%;
	height: 100%;
    border-radius: 4px;
}


#focus_Box{
	position:relative;
	width:980px;
	height:530px;
	margin:0 auto;
}
#focus_Box ul{
	width:710px;
	height:530px;
	margin-top:40px;
}
#focus_Box li{
	z-index:0;
	position:absolute; 
	width:0px;
	background:#787878;
	height:0px;
	top:0px;
	cursor:pointer;
	left:0;
	border-radius:4px;
	box-shadow:1px 1px 12px rgba(200, 200, 200, 1)
}
#focus_Box ul li p{
	width: 100%;
	height: 40px;
	background: #f7f7f7;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	position: absolute;
	left:0 ;
	bottom:-100px;
	color: #818181;
}
.zg-left{
	width: 30%;
	height: 40px;
	background: #f7f7f7;
	position: absolute;
	right: 0;
	bottom: 140px;
	z-index: 9;
}
.zg-right{
	width: 30%;
	height: 40px;
	background: #f7f7f7;
	position: absolute;
	left: 0;
	bottom: 140px;
	z-index: 9;
}
#focus_Box .prev,#focus_Box .next {
display:block;
z-index:100;
overflow:hidden;
cursor:pointer;
position:absolute;
width:52px;
height:67px;
top:220px;
}

#focus_Box .prev{
background:url(../img/1.1.png) 52px 67px;
left:0;
}

#focus_Box .next{
background:url(../img/1.2.png) 52px 67px;
right:0;
}
#focus_Box .prev:hover{
background:url(../img/1.1.png) 52px 67px rgba(0,0,0,0.5);
left:0;
}

#focus_Box .next:hover{
background:url(../img/1.2.png) 52px 67px rgba(0,0,0,0.5);
right:0;
}

.wx{
	width: 100%;
	position: fixed;
	left: 0;
	top:0;
	z-index: 3000;
	background: rgba(0,0,0,0.4);
	display: none;
}
.wxm{
	width: 400px;
	height: 350px;
	background:url('../img/20160427155823.jpg');
	background-size: cover;
	margin: 13% auto;
	position: relative;
	border-radius: 9px;
}
.wxm p{
	width: 200px;
	position: absolute;
	left: 100px;
	bottom: 25px;
	text-align: center;
}
input{
	display: none;
}