body{
   font-family:"Myriad Set Pro","微软雅黑";
   margin:0;
   font-size: 16px;
}
ul,li,h1,h2,h3,h4,h5,h6,p,a,input{
  margin:0;
  padding:0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
}
header{
  width: 100%;
  height:70px;
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top:0;
}
.container{
	width: 73%;
	height: 70px;
	margin: 0 auto;
	background: rgba(0,0,0,0.2);
}
.logo-text{
	float: left;
	width: 9.2%;
	height:60px;
	color: #fff;
	background: #eb4d7e;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
}
nav{
	float: right;
	width: 54.6%;
	height: 70px;	
	position: relative;
}
nav ul{
	width: 100%;
	height: 60px;
	margin-top: 10px;
}
nav ul li{
	width:16%;
	height: 60px;
	line-height: 60px;
	float: right;
	text-align: center;
}
nav ul li a{
	color: #666;
}
nav div span{
	height: 20px;
	border-left: 1px solid #666;
	position: absolute;
	right: 16%;
	top:30px;
}
.banner{
	width: 100%;
	height: 790px;
	background-image: url('../img/banner/]IQLSIJESSQ{X6BFRVI((VC.jpg');
	background-size: cover;
	margin-top: 70px;
}
.banner div:nth-child(1){
    width: 120px;
    height: 120px; 
    margin: 0 auto;
}   
.banner div:nth-child(1) span{
	width: 100%;
	height: 100%;
	background-image: url('../img/logo.png');
    background-size: cover;
	} 
.banner div:nth-child(2){
    width: 
}